/* Modal Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Container */
.modal {
  background-color: var(--color-white);
  padding: var(--spacing-lg);
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-xs);
  /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); */
}

/* Modal Header */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.closeButton {
  position: absolute;
  right: 30px;
  top: 30px;
  border-radius: 50%;
  text-align: center;
  border: none;
  cursor: pointer;
  color: var(--color-primary-light);
  font-size: 55px;
  /* font-size: var(--font-size-large); */
}

.closeButton:hover {
  color: var(--color-primary-dark);
}

/* Modal Content */
.content {
  /* border: 1px solid; */
  margin-top: 35px;
  /* font-size: 16px; */
}
