.form {
  width: 100%;
  /* padding: 0 10.5px; */
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap-lg);
}

.formFieldsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap-md);
  position: relative;
}

.formSubmitBtn {
  width: 100%;
  /* max-width: clamp(11.25rem, 10.8875rem + 1.8125vw, 13.0625rem); */
  max-width: 120px;
  /* display: flex; */
  /* flex-direction: column;
    gap: var(--flex-gap-md); */
  /* align-items: end; */
  align-self: flex-end;
}

/* Drag And Drop */
.dragDropWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap-md);
}

.dragDropBox {
  /* position: relative; */
  /* height: auto; */
  /* border: 1px solid; */
  width: 100%;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-columns: repeat(3, 190px); */
  grid-template-rows: repeat(auto, auto);
  row-gap: var(--flex-gap-md);
  column-gap: var(--flex-gap-sm);

  /* display: flex;
    gap: var(--flex-gap-md);
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start; */
}

.item {
  /* flex: 1 1 1; */
  width: 100%;
  /* flex: 1 1 calc(33.33% - var(--flex-gap-md)); */
  /* Adjust based on your gap and desired column width */
}

.dragDropLabelBox {
  display: flex;
  justify-content: space-between;
}

.dragDropLabelBox label {
  font-size: var(--font-size-small);
  color: var(--color-grey);
}

.dragDropLabelBox > span {
  font-size: var(--font-size-small);
  color: var(--color-primary-light);
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}

.error {
  font-size: var(--font-size-small);
  color: red;
  position: absolute;
  bottom: -40px;
  /* margin-left: 6px; */
}

@media (max-width: 768px) {
  .formSubmitBtn {
    max-width: 120px;
  }
}
