.form {
  width: 100%;
  /* padding: 0 10.5px; */
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap-lg);
}

.formBoxBorder {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap-md);
  border: 1px solid var(--color-primary-light);
  border-radius: var(--border-radius-xxs);
  padding: var(--flex-gap-md);
}

.formFieldsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap-md);
}

.standardFormBtn {
  width: fit-content;
  align-self: flex-end;
}

.doubleFormFieldsBox {
  display: flex;
  gap: var(--flex-gap-md);
  justify-content: space-between;
  align-items: start;
}

.amenitiesContainer {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap-sm);
}

.amenitiesWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto, auto);
  row-gap: var(--flex-gap-md);
}

.formSubmitBtn {
  width: "fit-content";
  /* max-width: clamp(11.25rem, 10.8875rem + 1.8125vw, 13.0625rem); */
  max-width: "fit-content";
  /* display: flex; */
  /* flex-direction: column;
    gap: var(--flex-gap-md); */
  /* align-items: end; */
  align-self: flex-end;
}

.formErrorBox {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  row-gap: var(--flex-gap-md);
}

/* Drag And Drop */
.dragDropWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap-sm);
}

.dragDropBox {
  /* position: relative; */
  /* height: auto; */
  /* border: 1px solid; */
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto, auto);
  row-gap: var(--flex-gap-md);
  column-gap: max(auto, var(--flex-gap-md));

  /* display: flex;
    gap: var(--flex-gap-md);
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start; */
}

.item {
  width: 96%;
  /* flex: 1 1 1; */
  /* padding: 0 5px; */
  /* flex: 1 1 calc(33.33% - var(--flex-gap-md)); */
  /* Adjust based on your gap and desired column width */
}

.dragDropLabelBox {
  display: flex;
  justify-content: space-between;
}

.dragDropLabelBox label {
  font-size: var(--font-size-small);
  color: var(--color-grey);
}

.dragDropLabelBox > span {
  font-size: var(--font-size-small);
  color: var(--color-primary-light);
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}
.error {
  font-size: var(--font-size-small);
  color: red;
  /* position: absolute; */
  /* bottom: -20px; */
  /* margin-left: 6px; */
}

.formSubmitBtn button {
  width: 100%;
}

.loadingText {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}
