.customButton {
    width: 100%;
    border-radius: var(--border-radius-sm);
    overflow: hidden;
    cursor: pointer;
    /* min-height: 70px; */
}

.disabled {
    background-color: var(--color-grey-type2) !important;
}

.btn {
    display: flex;
    gap: var(--flex-gap-xs);
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 100%;
    /* min-width: 209px; */
    /* padding: 0 var(--spacing-lg); */
    padding: var( --spacing-xs) var(--spacing-sm);
    max-width: clamp(150px, 100%, 264px);
    min-width: 120px;
    width: fit-content;
    height: 50px;
}


.large {
    height: 70px;
}

/* .medium {
    height: 64px;
} */

.small {
    height: 50px;
}

/* @media (max-width: 768px) {
 
} */