/* .customButton {
  width: 100%;
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.customButton {
  display: inline-flex;
  width: auto;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.disabled {
  background-color: var(--color-grey-type2) !important;
}

.btn {
  display: flex;
  gap: var(--flex-gap-xs);
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 100%;
  /* min-width: 209px; */
  /* padding: 0 var(--spacing-lg); */
  padding: var(--spacing-xs) var(--spacing-sm);
  max-width: clamp(150px, 100%, 264px);
  min-width: 120px;
  width: fit-content;
  height: 50px;
  font-size: clamp(0.875rem, 0.8125rem + 0.4vw, 1rem);
  white-space: nowrap;
}

.large {
  height: 70px;
}

/* .medium {
    height: 64px;
} */

.small {
  height: 50px;
}

/* @media (max-width: 768px) {
 
} */
