.formContainer {
    width: min(100%, 656px);
    /* max-width: 656px; */
    /* height: 100%; */
    /* overflow-y: auto; */
    margin: auto auto;
    padding: 20px;
    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: var(--flex-gap-lg);
}

.form {
    position: relative;
    max-width: 616px;
    width: 100%;
    /* padding: 0 10.5px; */
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap-lg);
}

.formFieldsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap-md);
}

.formSubmitBtn {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap-md);
}

.error {
    font-size: var(--font-size-small);
    color: red;
    position: absolute;
    bottom: -70px;
    /* margin-left: 6px; */
}