.customInput {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap-sm);
    position: relative;
}

.customInput label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-grey);
    font-weight: var(--font-weight-regular);
}

.customInput label>p:nth-of-type(2) {
    color: var(--color-primary-light);
    display: inline-flex;
    align-items: center;
    column-gap: 5px;
    /* text-decoration: underline; */
}

.notVerified {
    /* width: 22px;
    height: 22px; */
    /* border-radius: 50%; */
    /* background-color: var(--color-primary-light); */
    color: var(--color-primary-light);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
}

.inputWrapper {
    width: 100%;
    display: flex;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--color-black);
    height: 70px !important;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.inputWrapperError {
    border-color: red;
}

.inputWrapper input {
    width: 100%;
    /* border-radius: var(--border-radius-sm); */
    border: none;
    /* border: 1px solid var(--color-black); */
    height: 100%;
    text-indent: 5px;
    font-size: var(--font-size-small);
}

.error {
    font-size: var(--font-size-error-message);
    color: red;
    position: absolute;
    bottom: -20px;
    margin-left: 6px;
}

.disabled {
    background-color: var(--color-light-grey);
    color: var(--color-black);
    padding: 0 0 0 10px;
}

.inputWrapper input:focus {
    outline: none;
}

.passwordToggle {
    position: absolute;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #666;
    font-size: var(--font-size-small);
}

.passwordToggle:hover {
    color: #000;
}

/* .customInput input {
    width: 100%;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--color-black);
    height: 70px !important;
    text-indent: 5px;
    font-size: var(--font-size-small);
} */

@media (max-width: 768px) {
    .inputWrapper {
        height: 50px !important;
    }

    .error {
        bottom: -20px;
    }
}